name: build
on:
  workflow_dispatch:
  issues:
    types: [opened, edited]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Gmeek
        uses: Meekdai/Gmeek@last
        with:
          index_id: ${{ github.event.issue.number }}
          access_token: ${{ secrets.GITHUB_TOKEN }}
